<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Contract Creation</title>
</head>
<body>
    <h1>Create Contract</h1>
    <form action="/create-contract" method="post"> 
        <div class="title">Enter your public address</div>
        <div>
            <input type="text" name="public" id="public" class="input-text">
        </div>
        <div class="title">Enter your private address</div>
        <div>
            <input type="text" name="private" id="private" class="input-text">
        </div>
        <div class="error">
            <% if (error == 1) { %>
                Credentials didn't match
            <% } %> 
        </div>
        <div class="title">
            <% if (contract) { %> 
                Created contract: <%= contract %> 
            <% } %>   
        </div>
        <button type="submit" name="submit" class="button-1">Create</button>
    </form>
</body>
</html>